SECRET_KEY=prod-very-long-and-random-key
DEBUG=False
DJANGO_SETTINGS_MODULE=familyplus.settings.production

ALLOWED_HOSTS=familyplus.in,www.familyplus.in

DATABASE_ENGINE=django.db.backends.postgresql
DATABASE_NAME=familyplus_db
DATABASE_USER=familyplus_user
DATABASE_PASSWORD=strongpassword123
DATABASE_HOST=localhost
DATABASE_PORT=5432

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=orders@familyplus.in
EMAIL_HOST_PASSWORD=app-password-here
EMAIL_USE_TLS=True

CSRF_TRUSTED_ORIGINS=https://familyplus.in,https://www.familyplus.in

SECURE_SSL_REDIRECT=True
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True
SECURE_HSTS_SECONDS=31536000
SECURE_HSTS_INCLUDE_SUBDOMAINS=True
SECURE_HSTS_PRELOAD=True
