{% extends "base.html" %}

{% block content %}
    <main>
        <!-- Dashboard Page -->
        <section id="dashboard" class="page">
            <div class="container mx-auto px-6 py-16">
                 <h1 class="text-4xl font-serif text-primary mb-8">My Account</h1>
                 <div class="flex flex-col lg:flex-row gap-10">
                    {% include 'includes/dashboard_sidebar.html' %}
                    <div class="w-full lg:w-3/4">
                        <!-- Dashboard Overview -->
                        <div class="bg-white p-8 rounded-lg shadow-md mb-4">
                            <h2 class="text-2xl font-semibold text-text-dark mb-4">Dashboard</h2>
                            <p class="text-text-light">Hello, <span class="font-semibold text-primary">{{ user.full_name }}</span>!</p>
                            <p class="mt-2 text-text-light">From your account dashboard you can view your recent orders, manage your shipping addresses, and edit your password and account details.</p>
                        </div>

                        <div class="md:flex justify-between align-center gap-8 p-8 rounded-lg shadow-md bg-primary text-center">
                            <div class="w-full bg-white p-4 rounded-lg shadow-md mb-4 md:mb-0">
                                <h2 class="text-2xl font-semibold text-text-dark mb-2">Total Orders</h2>
                                <h2 class="text-2xl font-semibold text-text-dark mb-2">{{ orders_count }}</h2>
                                <a href="{% url 'my_orders' %}" class="text-text-dark hover:text-primary transition">View Orders</a>
                            </div>
                            <div class="w-full flex justify-between items-center bg-white p-4 rounded-lg shadow-md">
                                <img src="{{ userprofile.profile_picture.url }}" alt="Profile Picture" style="border-radius: 50%; margin: 0 auto; width: 80px;" />
                                <p class="text-text-dark">{{ user.full_name }}<br>{{ user.email }}<br>{{ user.phone_number }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
        </section>
    </main>
{% endblock content %}