{% extends "base.html" %}

{% block content %}
    <main>
        <!-- Login Page -->
        <section id="forgotPassword" class="page">
            <div class="flex items-center justify-center py-20 px-6">
                <div class="w-full max-w-md bg-white p-8 rounded-lg shadow-lg">
                    <div class="text-center mb-8">
                        <h1 class="text-3xl font-serif text-primary">Reset Password</h1>
                        {% comment %} <p class="text-text-light">Forgot your account password</p> {% endcomment %}
                    </div>
                    <form action="{% url 'resetPassword' %}" method="POST">
                        {% csrf_token %}
                        <div class="mb-6"><label class="block mb-1">Password</label><input type="password" name="password" class="w-full p-3 border rounded-md"></div>
                        <div class="mb-6"><label class="block mb-1">Confirm Password</label><input type="password" name="confirm_password" class="w-full p-3 border rounded-md"></div>
                        <button type="submit" data-page="dashboard" class="block text-center bg-primary text-white w-full py-3 rounded-md font-semibold hover:bg-opacity-90 transition">Reset</button>
                    </form>
                    <div class="text-center mt-6">
                        <p class="text-sm text-text-light mt-2">Got Password? <a href="{% url 'login' %}" data-page="register" class="font-semibold text-primary hover:underline">Login</a></p>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}